body{
  font-family: 'Sofia Sans', sans-serif;
  align-self: auto;
}


.header {
  padding: 50px;
  margin-top: -4%;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: grey;
  border: 1px solid grey;
  margin: 0 20%;
  position: relative;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: -20px;
  margin-left: 20%;
  margin: 50px;
  margin-right: 20%;    
}
.navbar {
  margin-bottom: -20px;
  margin-left: 19.6%;
  margin-right: 20%; 
}
#navbar-item.selected {
  background-color: #25DFE6;
  color: white;
}


#navbar-item {
  margin: 0 7px;
  text-align: center;
  padding: 50px;
}
.navbar-item1{
  display: none;
}
.navbar-item2{
  display: none;
}
#navbar-item:hover {
  background-color: #25DFE6;
  border: 1px solid #25DFE6;
  color: white;
}

.main-box {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  border-top: 10px solid grey;
  padding: 2rem;
  margin: 20px;
  margin-left: 20%;
  margin-right: 20%;
  border-top-color: #25DFE6;
  
}

#main-box-text {
  font-size: 28px;
  font-weight: medium;
  color: grey;
  max-width: 60%;
}

.bullet-list {
  margin: 20px;
  padding: 10px;
  
  color: grey;
  font-size: 28px;
  font-weight: medium;
  
  }
  .bullet-list a {
      color: #25DFE6;
      }


